<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Zombie NFT faucet, Maze Token, simpleledger">
  
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="ZOMBIE NFT faucet">
    <meta name="application-name" content="ZOMBIE NFT faucet">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Social Cards -->
    <meta property="og:url" content="https://zombienftfaucet.herokuapp.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ZOMBIE NFT faucet" />
    <meta property="og:description" content="Claim your own ZOMBIE NFT with Bitcoin Cash" />
    <meta property="og:image" content="https://github.com/mazetoken/zombie-faucet/img/social.jpg" />
    <meta property="og:site_name" content="ZOMBIE NFT faucet">

    <title>ZOMBIE NFT faucet</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="css/custom.css" rel="stylesheet">
    
    <script src="https://hcaptcha.com/1/api.js" async defer></script>
  </head>
  <body>
    <header class="masthead mb-auto bg-dark">
    </header>
    <main role="main">
      <div class="jumbotron text-center p-5">
            <h1>Zombie NFT</h1>
            <p>Simple Zombie Protocol</p>
            <p><img src="img/zombienft320.png"></p>
        <form id="faucet-form" class="token-selector-form" action="/" method="post" >
          <% if(txid !== null){ %>
            <p>
              Congratulations, please click on your new ZOMBIE NFT and check its name if you dare<br>
              <a href="https://simpleledger.info/#token/<%= txid %>"><img src="https://nfticons.herokuapp.com/128/<%= txid %>.png"></a>
            </p>
          <% } else { %>
          <br><br>
            <input name="address" type="text" placeholder="Enter your SLP address, ex: simpleledger:qp7l6ns2g…" required><br>
            <div class="h-captcha" data-sitekey="16714808-9597-4062-bc35-20d3658b7287"></div>
            <% if(error !== null){ %>
              <p>error: <%= error %></p>
            <% } %>

            <p>Get your address with SLP NFT compatible wallets:<br>
            <a href="https://wallet.signup.cash">Signup</a> , <a href="https://zapit.io">Zapit</a> or <a href="https://simpleledger.cash/project/electron-cash-slp-edition/">Electron Cash SLP Edition</a></p><br>
            <p><input id="submit-btn" type="submit" value="🧟 Claim ZOMBIE NFT 🧟"></p>
          <% } %>
        </form>
          <!-- end .token-selector-form -->
          
      <!-- end .jumbotron -->

              <h3>ZOMBIE Faucet Season 1 (alpha season):</h3>
              <p>- 750 ZOMBIE Non-Fungible Tokens<br>- 200 random ZOMBIE characters (token names)<br> - 25 random ZOMBIE hordes (token icons)<br>
              *Parental Advisory Warning*</p><br>
              You can claim every 4 hours<br>Don't cheat or zombies will eat you<br>
              ZOMBIE NFT-Group tokens are mineable (proof-of-work)<br>You receive ZOMBIE child tokens<br><br>
      <p>ZOMBIE NFT by <a href="https://mazetoken.github.io">MAZE Token</a><br>
      <a href="https://t.me/mazeslptoken">Telegram Group</a><br>
      <a href="https://zombies.onuniverse.com">Zombiesite</a><br><br>
      <a href="https://github.com/blockparty-sh/waifu_faucet">Source code</a><br>
      <a href="https://simpleledger.cash">Simple Ledger Protocol resources</a><br><br>
      <a href="https://juungle.net">Juungle SLP NFT Marketplace</a><br>
      Special thanks to <a href="https://github.com/blockparty-sh">Blockparty-sh</a></p>
      <br><br>
      Donations to zombie food (no animals will be harmed)<br>
      <p><script src="https://unpkg.com/@paybutton/paybutton@^1.0/dist/paybutton.js"></script>
         <div class="paybutton" to="bitcoincash:qrk3macg3sqhact07evk7u2hhq3el0plnul6fr4m5y"></div>
      </p>
      <br><br>
      B_S_Z, 2021
      <p><img src="img/maze320.png"></p>
      <br><br>
      Zombies eat cookies too
      
      <!-- end .blurb -->
      
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
      <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
